# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build
dist/
build/
out/

# Next.js
.next/
next-env.d.ts

# Testing
coverage/

# Environment
.env
.env*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Turborepo
.turbo/
tmp/

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Prisma
generated/
